h1 {
  text-align: center;
  margin-top: 20vh;
}


.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

#transaction-list {
  position: fixed;
  right: 0.5%;
  bottom: 22%;
  border: 5px solid #D0FAC9;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
  width: 95px;
  height: 95px;

}

#transaction-report {
  position: fixed;
  right: 0.5%;
  bottom: 7%;
  border: 5px solid #b9faae;
  background-color: white;
  padding: 5px;
  border-radius: 25px;

}



/*mobile*/

@media only screen and (max-width:768px) {

  h1 {
    font-size: medium;
    margin-top: 25vh;
  }

  .content {
    min-height: 140vh;

  }

}

@media only screen and (min-width:768px) and (max-width:1024px) {

  h1 {
    font-size: x-large;
    margin-top: 25vh;
  }

  .content {
    min-height: 120vh;

  }


}