h1 {text-align: center;
margin-top:20vh;}


.content {
min-height:100vh;
display:flex;
align-items:center;
flex-direction:column;
margin-left:5%;
margin-right:5%;
}

table th{background-color:#FCC26B;}
table td {background-color: white;}

table, th, td {
  border: transparent;
}

table, #report-container {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
  overflow:hidden;
}

.grid{min-width:90vw;
margin-bottom:10px;}

button{border:none;
width:100%;}


.grid div:first-child button {background-color: #F9970A;}
.grid div:nth-child(2n) button {background-color:#43A801;}
.grid div:nth-child(3n) button {background-color:#F9791A;}
.grid div:nth-child(4n) button {background-color:#15CA20;}


 table th,
 table td
{
    text-align: center; 
    vertical-align: middle;
}

#transaction-list {
position:fixed;
right:0;
bottom:20%;
border:5px solid #D0FAC9;
background-color:white;
padding:5px;
border-radius: 25px;
width:95px;
height:95px;

}

#transaction-report{
position:fixed;
right:0;
bottom:5%;
border:5px solid #D0FAC9;
background-color:white;
padding:5px;
border-radius: 25px;

}

.link:hover{  
text-emphasis: none;
text-decoration: none;
background-color:white;
}



#report-container {
height:65vh;
position:relative;
text-align:center;
}


#report-container h2 {
 text-align: center;
  margin-top:5vh;
  line-height:1;
}

.report-data{
border:5px solid #43A801;
background-color:white;
border-radius: 50%;
width:150px;
height:150px;
display:flex;
align-items:center;
justify-content:center;
position:absolute;
top:100px;

}

#transaction{
width:50px;
height:50px;
margin-top:180px;
}


#count-by-type, #amount-by-type {margin-top: 160px;
border:none;
border-radius:0%;
background-color:inherit;
width: auto;
height:auto;
}

#count-by-type span, #amount-by-type span{
background-color:#238402;
width:100%;
font-size:large;}
  
.link-to-transaction{
padding-left:5px;
padding-right:5px;
background-color:transparent;}

.link-to-transaction:hover, .transaction-category-link:hover
{  
    text-emphasis: none;
    text-decoration: none;
    background-color:transparent;
}


#report-container div
{   display:flex;
    flex-direction:column;
    align-items:center;
}


#report-container div:first-child:not(.report-data)
{
    background-color:#238402;
        width:inherit;
}

#report-container div:nth-child(2n):not(.report-data){
    background-color:white;
        width:inherit;
}

#report-container div:nth-child(3n):not(.report-data){
    background-color:#FAAF23;
        width:inherit;
}

#report-container div:nth-child(4n):not(.report-data){
    background-color:#238402;
}

#user{display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  column-gap:0.5rem;
margin:10px;}

#user img {width:32px;
height:32px;}

#user h5{color:black;}





/*mobile*/

@media only screen and (max-width:768px) {

  h1 {
    font-size:medium;
    margin-top:25vh;
  }


#transaction-list {
position:absolute;
right:65px;
top:20%;
width:64px;
height:64px;

}

#transaction-report{
position:absolute;
right:0;
top:20%;
width:64px;
height:64px;
}

#report-container {
height:300vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
position:static;
}

.report-data{

    position:static;
   
}


#report-container div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#report-container div:first-child:not(.report-data){
      height:inherit;
    width:inherit;
}

#report-container div:nth-child(2n):not(.report-data){
      height:inherit;
    width:inherit;
}

#report-container div:nth-child(3n):not(.report-data){
      height:inherit;
    width:inherit;
}


#report-container div:nth-child(4n):not(.report-data){
      height:inherit;
    width:inherit;
}

#transaction{

margin-top:50px;
}



#count-by-type, #amount-by-type {margin-top: 20px;
}

#user h5 {
  font-size:medium;

}
}

@media only screen and (min-width:768px) and (max-width:1280px) {

  h1 {
    font-size:x-large;
    margin-top:25vh;
  }


 
#transaction-list {
position:absolute;
right:90px;
top:18%;
width:85px;
height:85px;

}

#transaction-report{
position:absolute;
right:0;
top:18%;
width:85px;
height:85px;
}

#report-container {
height:70vh;

}

#count-by-type, #amount-by-type {margin-top: 150px;
}


}